<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <juspay>
                <active>0</active>
                <order_status>processing</order_status>
                <mode>production</mode>
                <title>SmartGateway</title>
                <mode>production</mode>
                <model>Juspay\Payment\Model\PaymentMethod</model>
                <redirect_url>juspay_payment/standard/redirect</redirect_url>
                <return_url>juspay_payment/standard/response</return_url>
                <api_url_sandbox>https://smartgatewayuat.hdfcbank.com/gateway/orders</api_url_sandbox>
                <api_url>https://smartgateway.hdfcbank.com/gateway/orders</api_url>
                <webhook>1</webhook>
            </juspay>
        </payment>
    </default>
</config>
