<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Checkout\Model\Session\SuccessValidator" type="Juspay\Payment\Model\Checkout\Session\SuccessValidator" />

    <type name="Magento\Sales\Model\Order\Email\Sender\OrderSender">
        <plugin name="juspay_prevent_order_email" type="Juspay\Payment\Plugin\PreventOrderEmailPlugin" sortOrder="10" />
    </type>
    
    <type name="Magento\Sales\Model\Order\Email\Sender\InvoiceSender">
        <plugin name="juspay_prevent_invoice_email" type="Juspay\Payment\Plugin\PreventOrderEmailPlugin" sortOrder="10" />
    </type>

    <type name="Juspay\Payment\Controller\Standard\Response">
        <plugin name="clear_cart_after_payment" 
                type="Juspay\Payment\Plugin\ClearCartPlugin" 
                sortOrder="10" 
                disabled="false"/>
    </type>
</config>
